/* Style do wszystkich stron */
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');
.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    display: flex;
  }

  footer {
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    bottom: 0;
    transition: bottom 0.2s ease-in-out;
    width: 100%;
    z-index: 9999;
    /*padding: 1rem;*/
}

.logo-pracodawcy {
    height: 2rem;
    padding-right: 5px;
}

/* Style do: index.html */

.p-logo {
    display: flex;
    margin: 0 auto;
    width: 50%;
}

.container {
    margin-top: 70px;
}

.ui.rating {
    float: right;
}

.search-container {
    width: 60%;
    margin: 30px auto;
}

.ui.toggle.checkbox {
    float: right;
}

.row-filter {
    margin: 5px 0px;
}

.row-filter .card-text {
    width: min-content;
    margin: 0;
    float: left;
    display: contents;
}

.row-filter .form-control {
    width: 25%;
    height: 20px;
    float: right;
}
/* Style do: login.html */

.singupform {
    display: table;
    margin: 20px auto;
    width: 60%;
    margin-bottom: 100px;
}

.singinform {
    display: table;
    margin: 20px auto;
    width: 60%;
}

/*.md-form {
    padding-bottom: 15px;
}*/

.navbar-nav .nav-item .nav-link {
    margin-left: 25px;
}

#wrong-pswd, #wrong-nickname {
    cursor: text;
    color: #ff3547;
    font-size: 12px;
    margin-left: 40px;
}

/* Style do top100 */

.btn.btn-md {
    font-size: .7rem;
}

table.table td, table.table th {
    text-align: center;
}

.navbar.navbar-dark form .md-form input {
    width: 400px;
}

/* Profil pracodawcy - employer */

.list-group {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

#commentsContainer {
    margin-bottom: 100px;
}